.home-card {
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.home-card img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 10px;
}

.home-card p {
  position: absolute;
  top: 76%;
  left: 20px;
  color: white;
  width: 70%;
}

@media screen and (max-width: 850px) {
  .home-card img {
    height: 225px;
  }

  .home-card p {
    top: 66%;
  }
}
