.background-footer {
  background-color: black;
  height: 209px;
  text-align: center;
}

.background-footer img {
  display: block;
  margin: auto;
  padding-top: 66px;
}

.background-footer p {
  color: white;
  font-size: 24px;
  margin-block-start: 35px;
}

@media screen and (max-width: 550px) {
  .background-footer p {
    font-size: 12px;
  }
}

@media screen and (min-width: 1450px) {
  .background-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
